section.about#about
    .about__wrapper
        img(src="static/images/content/about-logo.svg" alt="Nick Jr в кино").about__logo
        
        picture.about__frame
            source(srcset="static/images/content/about-dogs.webp" type="image/webp")
            img(src="static/images/content/about-dogs.png" alt="Paw Patrol Dogs").about__frame-image
        
        .about__info
            p.about__description 
            p.about__description
            
            a(href="#now" target="_self").about__btn Сейчас в кино
