section.intro
    .intro__wrapper
        .intro__info
            span.intro__age 0+
            h1.intro__title В первый раз в&nbsp;кино вместе!
            p.intro__description Следите за новыми приключениями любимых героев Nick Jr. на большом экране.
            
            .intro__controls
                a(href="https://afisha.yandex.ru/moscow/cinema/shcheniachii-patrul-uletnaia-pomoshch" target="_blank").intro__btn.intro__btn--buy Купить билет
                a(href="#now" target="_self").intro__btn Сейчас в кино
        picture.intro__frame
            source(srcset="static/images/content/intro-bg.webp" type="image/webp")
            img(src="static/images/content/intro-bg.png" alt="Nick Jr Intro Image").intro__frame-image
    a(href="#about" target="_self").intro__more Узнать больше
