section.now#now
    .now__wrapper
        .now__head
            .now__part
                b.now__part-ep 12
                span.now__part-text выпуск
            b.now__dates 12.11 - 24.12
            span.now__age 0+
        .now__info
            h2.now__title Щенячий патруль: улётная помощь
            p.now__description В новом приключении щенков главный злодей герцог Болтунский магическими силами поднимает Гавкенбург в небо! Чтобы спасти город, Скай нужно преодолеть свои самые большие страхи и возглавить команду Улетной помощи! Команда щенков снова в деле!
            b.now__duration Продолжительность 
                span.now__duration-time 45 
                | минут
            .now__controls
                a(href="" target="_self").now__btn.now__btn--buy Купить билет
                a(href="#program" target="_self").npw__btn Расписание
        picture.now__frame
            source(scrset="static/images/content/now-poster.webp" type="image/webp")
            img(src="static/images/content/now-poster.png" alt="now-show-name").now__frame-image
