section.program#program
    .program__wrapper
        picture.program__frame
            //source(scrset="static/images/content/program-poster.svg" type="image/webp")
            img(src="static/images/content/program-poster.svg" alt="Расписание").program__frame-image
        ul.program__list
            li.program__item
                .program__head
                    .program__part
                        b.program__part-ep 12
                        span.program__part-text выпуск
                    b.program__dates 12.11 - 24.12
                    span.program__age 0+
                h2.program__name Щенячий патруль: улётная помощь
                ul.program__times
                    li.program__times-item
                        span 11:00
                    li.program__times-item
                        span 14:00
                    li.program__times-item
                        span 17:30
                        
            li.program__item
                .program__head
                    .program__part
                        b.program__part-ep 13
                        span.program__part-text выпуск
                    b.program__dates 12.11 - 24.12
                    span.program__age 0+
                h2.program__name Вспыш и чудо-машинки
                ul.program__times
                    li.program__times-item
                        span 11:00
                    li.program__times-item
                        span 14:00
                    li.program__times-item
                        span 17:30
                        
            li.program__item
                .program__head
                    .program__part
                        b.program__part-ep 14
                        span.program__part-text выпуск
                    b.program__dates 12.11 - 24.12
                    span.program__age 0+
                h2.program__name Сантьяго и его моря
                ul.program__times
                    li.program__times-item
                        span 11:00
                    li.program__times-item
                        span 14:00
                    li.program__times-item
                        span 17:30
