section.similar
    .similar__wrapper
        h3.similar__title Похожие материалы
        
        .similar__list
            +similarItem('similar-1', '#', 'Что такое логобук и зачем он нужен?', '')
            +similarItem('similar-1', '#', 'Что такое логобук и зачем он нужен?', '')
            +similarItem('similar-1', '#', 'Что такое логобук и зачем он нужен?', '')
