.now {
    width: 100%;

    @include flex-setting(column, center, center);

    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/content/now-bg-mb.jpg');

    padding: 3.375rem 1.25rem 3rem 1.25rem;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__head {
        order: 1;
        width: 100%;

        @include flex-setting(row, flex-start, center);

        margin-bottom: 1rem;
    }

    &__part {
        width: auto;
        @include flex-setting(row, flex-start, center);

        &-ep {
            @include font-setting($primary-font, 1rem, 1, 900, $gray);
            @include flex-setting(column, center, center);

            border: 2px solid $gray;

            width: 2.25rem;
            height: 2.25rem;

            margin-right: 0.5rem;
        }

        &-text {
            @include font-setting($primary-font, 1rem, 1, 900, $gray);
            text-transform: uppercase;
        }
    }

    &__dates {
        margin-left: auto;
        margin-right: 1.5rem;

        @include font-setting($primary-font, 1rem, 1, 900, $gray);
        text-transform: uppercase;
    }

    &__age {
        @include font-setting($primary-font, 1rem, 1, 900, $gray);
        @include flex-setting(column, center, center);

        border: 2px solid $gray;

        width: 2.25rem;
        height: 2.25rem;
    }

    &__frame {
        order: 2;
        @include flex-setting(column, center, center);

        width: 100%;
        max-width: 65.67164179104478%;
    }

    &__info {
        order: 3;

        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__title {
        @include font-setting($primary-font, 1.75rem, 2.125rem, 900, $gray);
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 1rem;
    }

    &__description {
        width: 100%;

        @include font-setting($primary-font, 1rem, 1.4375rem, 400, $gray);
        text-align: left;
        margin-bottom: 2rem;

        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: 100%;
            height: 1px;
            background-color: rgba(240, 242, 243, 0.7);

            bottom: -1rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__duration {
        align-self: flex-start;

        @include font-setting($primary-font, 0.75rem, 1.0625rem, 900, $gray);

        text-transform: uppercase;

        margin-bottom: 1rem;
    }

    &__controls {
        width: 100%;

        @include flex-setting(row, center, center);
    }

    &__btn {
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 0.75rem, 1.0625rem, 400, $gray);
        text-transform: uppercase;
        text-decoration: none;

        height: 38px;
        width: 150px;
        border: 1px solid rgba(240, 242, 243, 0.6);
        border-radius: 40px;

        &--buy {
            width: 163px;
            height: 38px;
            background: #F26822;
            box-shadow: inset -2px -2px 4px #D65514, inset 2px 2px 4px rgba(255, 154, 104, 0.6);
            border-radius: 40px;
            border: none;
            margin-right: 1.0625rem;
            padding-right: 1.5rem;
            position: relative;
            z-index: 2;

            &::before {
                position: absolute;
                content: '';

                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                width: 173px;
                height: 46px;

                background: rgba(240, 242, 243, 0.1);
                box-shadow: 0px 4px 10px rgba(32, 32, 31, 0.8), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 24px;

                z-index: -1;
            }

            &::after {
                position: absolute;
                content: '';

                width: 16px;
                height: 16px;

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3426 2.66999H2.83257L2.64661 0.598362C2.6162 0.259583 2.33227 0 1.99215 0H0.657093C0.29419 0 0 0.29419 0 0.657093C0 1.02 0.29419 1.31419 0.657093 1.31419H1.39141C1.79271 5.78499 0.755563 -5.77037 2.14716 9.73402C2.20079 10.3409 2.52868 10.9994 3.09353 11.4468C2.07513 12.7474 3.00564 14.6647 4.66223 14.6647C6.03718 14.6647 7.00696 13.2933 6.53545 11.9945H10.1318C9.6609 13.2917 10.6286 14.6647 12.005 14.6647C13.1035 14.6647 13.9972 13.771 13.9972 12.6725C13.9972 11.574 13.1035 10.6804 12.005 10.6804H4.66668C4.16754 10.6804 3.73257 10.3792 3.54483 9.94047L14.0461 9.32331C14.3327 9.30647 14.5753 9.10534 14.645 8.82673L15.9801 3.48644C16.0836 3.07235 15.7702 2.66999 15.3426 2.66999ZM4.66223 13.3505C4.28844 13.3505 3.9843 13.0463 3.9843 12.6725C3.9843 12.2987 4.28844 11.9945 4.66223 11.9945C5.03606 11.9945 5.3402 12.2987 5.3402 12.6725C5.3402 13.0463 5.03606 13.3505 4.66223 13.3505ZM12.005 13.3505C11.6312 13.3505 11.327 13.0463 11.327 12.6725C11.327 12.2987 11.6312 11.9945 12.005 11.9945C12.3788 11.9945 12.683 12.2987 12.683 12.6725C12.683 13.0463 12.3788 13.3505 12.005 13.3505ZM13.4871 8.03972L3.36795 8.63439L2.95054 3.98414H14.501L13.4871 8.03972Z' fill='%23F0F2F3'/%3E%3C/svg%3E");

                right: 1.5rem;
                top: 50%;
                transform: translateY(-50%);

            }
        }
    }
}
