.program {
    width: 100%;

    @include flex-setting(column, center, center);
    padding: 2.625rem 1.25rem 2.25rem 1.25rem;

    background-image: url('../images/content/program-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__frame {
        display: none;
    }

    &__list {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__item {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

        padding-bottom: 1rem;
        margin-bottom: 1rem;

        border-bottom: 1px solid rgba(240, 242, 243, 0.6);

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    &__head {
        width: 100%;

        @include flex-setting(row, flex-start, center);

        margin-bottom: 1rem;
    }

    &__part {
        width: auto;
        @include flex-setting(row, flex-start, center);

        &-ep {
            @include font-setting($primary-font, 1rem, 1, 900, $gray);
            @include flex-setting(column, center, center);

            border: 2px solid $gray;

            width: 2.25rem;
            height: 2.25rem;

            margin-right: 0.5rem;
        }

        &-text {
            @include font-setting($primary-font, 1rem, 1, 900, $gray);
            text-transform: uppercase;
        }
    }

    &__dates {
        margin-left: auto;
        margin-right: 1.5rem;

        @include font-setting($primary-font, 1rem, 1, 900, $gray);
        text-transform: uppercase;
    }

    &__age {
        @include font-setting($primary-font, 1rem, 1, 900, $gray);
        @include flex-setting(column, center, center);

        border: 2px solid $gray;

        width: 2.25rem;
        height: 2.25rem;
    }

    &__name {
        @include font-setting($primary-font, 1.375rem, 1.5rem, 900, $gray);
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 1rem;
    }

    &__times {
        width: 100%;

        @include flex-setting(row, flex-start, center);

        &-item {
            @include flex-setting(column, center, center);

            height: 30px;
            padding: 0 0.625rem;

            border: 2px solid $gray;

            margin-right: 0.625rem;

            &:last-child {
                margin-right: 0;
            }

            span {
                @include font-setting($primary-font, 1rem, 1, 900, $gray);
            }
        }
    }
}

@include min-screen(1440px) {
    .program {
        height: 100vh;
        padding: 6.75rem 0;

        &__wrapper {
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 587px;
            grid-column-gap: 3.5rem;
            align-items: center;

            --width: calc(100% - 1200px);
            padding-left: calc(var(--width) / 2);
            padding-right: calc(var(--width) / 2);
        }

        &__frame {
            @include flex-setting(column, center, center);
            position: relative;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                z-index: 0;

                animation: 8s rotate infinite alternate;
            }

            &-image {
                z-index: 1;
                margin-top: 4rem;
            }
        }

        &__item {
            padding-bottom: 1.25rem;
            margin-bottom: 1.25rem;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        &__head {
            margin-bottom: 1.25rem;
        }


        &__dates {
            margin-left: auto;
            margin-right: 11.5rem;
        }

        &__name {
            font-size: 2rem;
            line-height: 2.25rem;
            margin-bottom: 1.25rem;
            max-width: 485px;
        }

        &__times {
            &-item {
                height: 36px;
                padding: 0 1.3125rem;
                margin-right: 2rem;

                &:last-child {
                    margin-right: 0;
                }

                span {
                    color: $white;
                }
            }
        }
    }
}
