.program {
    width: 100%;

    @include flex-setting(column, center, center);
    padding: 2.625rem 0 0 0;

    background-image: url('../images/content/program-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__title {
        order: 1;
        @include font-setting($primary-font, 1.5rem, 2rem, 800, #FEC42A);
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        max-width: 178px;

        margin-bottom: 1rem;
    }

    &__frame {
        width: 100%;
        @include flex-setting(column, center, center);

        order: 3;
        position: relative;

        svg {
            display: none;
        }

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__list {
        order: 2;
        width: 100%;

        @include flex-setting(column, flex-start, center);

        margin-bottom: 3rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    &__item {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

        padding-bottom: 1.75rem;
        margin-bottom: 1.75rem;

        border-bottom: 1px solid rgba(240, 242, 243, 0.6);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__head {
        width: 100%;

        @include flex-setting(row, flex-start, center);

        margin-bottom: 1rem;
    }

    &__part {
        width: auto;
        @include flex-setting(row, flex-start, center);

        &-ep {
            @include font-setting($primary-font, 1rem, 1, 900, $gray);
            @include flex-setting(column, center, center);

            border: 2px solid $gray;

            width: 2.25rem;
            height: 2.25rem;

            margin-right: 0.5rem;
        }

        &-text {
            @include font-setting($primary-font, 1rem, 1, 900, $gray);
            text-transform: uppercase;
        }
    }

    &__dates {
        margin-left: auto;
        margin-right: 1.5rem;

        @include font-setting($primary-font, 1rem, 1, 900, $gray);
        text-transform: uppercase;
    }

    &__age {
        @include font-setting($primary-font, 1rem, 1, 900, $gray);
        @include flex-setting(column, center, center);

        border: 2px solid $gray;

        width: 2.25rem;
        height: 2.25rem;
    }

    &__name {
        @include font-setting($primary-font, 1.5rem, 1.87
        05rem, 900, $gray);
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 1rem;
    }

    &__times {
        width: 100%;

        @include flex-setting(row, space-between, center);

        &-item {
            @include flex-setting(column, center, center);

            height: 36px;
            padding: 0 1.25rem;

            border: 2px solid $gray;

            margin-right: 1.875rem;

            &:last-child {
                margin-right: 0;
            }

            span {
                @include font-setting($primary-font, 1rem, 1, 900, $gray);
            }
        }
    }
}

@include min-screen(768px) {
    .program {
        padding: 2.5rem 0;

        &__title {
            order: 1;
            font-size: 2.25rem;
            line-height: 3rem;

            max-width: 272px;

            margin-bottom: 1.25rem;
        }

        &__frame {
            width: 550px;
            height: 595px;
        }

        &__list {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }

        &__item {
            padding-bottom: 3.75rem;
            margin-bottom: 1.25rem;
        }

        &__head {
            margin-bottom: 1.25rem;
        }

        &__dates {
            margin-left: auto;
            margin-right: 11.5rem;
        }

        &__name {
            font-size: 2.25rem;
            line-height: 2.625rem;
            margin-bottom: 1.25rem;
            max-width: 505px;
        }

        &__times {
            justify-content: flex-start;

            &-item {
                height: 36px;
                padding: 0 1.3125rem;
                margin-right: 2rem;

                &:last-child {
                    margin-right: 0;
                }

                span {
                    color: $white;
                }
            }
        }
    }
}

@include min-screen(1366px) {
    .program {
        min-height: 100%;
        height: -webkit-fill-available;
        height: calc(var(--vh, 1vh) * 100);
        padding: 3.75rem 0;

        &__wrapper {
            width: 100%;

            display: grid;
            grid-template-areas:
                'title title'
                'frame info'
            ;
            grid-template-columns: 1fr 587px;
            grid-column-gap: 3.5rem;
            align-items: center;
            justify-content: center;

            --width: calc(100% - 1200px);
            padding-left: calc(var(--width) / 2);
            padding-right: calc(var(--width) / 2);
        }

        &__title {
            grid-area: title;
            max-width: 100%;
            align-self: center;
            text-align: center;
            margin-bottom: 3rem;
        }

        &__frame {
            grid-area: frame;
            order: 2;
            @include flex-setting(column, center, center);
            position: relative;

            &-image {
                z-index: 1;
            }
        }

        &__list {
            padding: 0;
            grid-area: info;
        }

        &__item {
            padding-bottom: 2.25rem;
            margin-bottom: 2.25rem;
        }

        &__head {
            margin-bottom: 1.25rem;
        }

        &__dates {
            margin-left: auto;
            margin-right: 11.5rem;
        }

        &__name {
            font-size: 2rem;
            line-height: 2.25rem;
            margin-bottom: 1.25rem;
            max-width: 485px;
        }

        &__times {
            &-item {
                height: 36px;
                padding: 0 1.3125rem;
                margin-right: 2rem;

                &:last-child {
                    margin-right: 0;
                }

                span {
                    color: $white;
                }
            }
        }
    }
}
