@keyframes rotate-and-blink {
    0% {
        transform: translate(0, 0) rotate(0deg);
        filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0));
        transform-origin: center;
    }

    100% {
        transform: translate(15px, 15px) rotate(360deg);
        filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0.5));
        transform-origin: center;
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0) scale(1);
        filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0));
        transform-origin: center;
    }

    50% {
        transform: translate(-50%, -50%) rotate(360deg) scale(1.1);
        filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0.75));
        transform-origin: center;
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(1);
        filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0));
        transform-origin: center;
    }
}
