.breadcrumbs {
    width: 100%;

    @include flex-setting(column, center, center);

    padding: 0 1.25rem;

    &__list {
        width: 100%;

        @include flex-setting(row, flex-start, center);
    }

    &__item {
        width: auto;
        margin-right: 0.625rem;
    }

    &__link {
        @include font-setting($root-font, 1rem, 1.875, 500, #8c8c8c);
        text-decoration: none;
        transition: 0.3s ease-in;
        cursor: pointer;

        &:hover,
        &:active {
            color: $blue;
            transition: 0.3s ease-in;
        }
    }
}

@include min-screen(64rem) {
    .breadcrumbs {
        align-self: flex-start;
        padding: 0;
        margin-left: 2.5rem;
        max-width: 760px;
    }
}

@include min-screen(80rem) {
    .breadcrumbs {
        align-self: center;
        padding: 0;
        margin-left: 0;
        max-width: 790px;
    }
}

@include min-screen(90rem) {
    .breadcrumbs {
        max-width: 896px;
    }
}
