@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.woff2) format("woff2");
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('Mont', '../fonts/Mont/Mont-Regular', 400, 'normal');
@include font-face('Mont', '../fonts/Mont/mont-semibold', 600, 'normal');
@include font-face('Mont', '../fonts/Mont/Mont-Bold', 700, 'normal');
@include font-face('PT Root UI', '../fonts/PT Root/PT-Root-UI_Light', 300, 'normal');
@include font-face('PT Root UI', '../fonts/PT Root/PT-Root-UI_Regular', 400, 'normal');
@include font-face('PT Root UI', '../fonts/PT Root/PT-Root-UI_Medium', 500, 'normal');
@include font-face('PT Root UI', '../fonts/PT Root/PT-Root-UI_Bold', 700, 'normal');

@include font-face('HelveticaNeueCyr', '../fonts/Helvetica Neue/HelveticaNeueCyr-Light', 300, 'normal');
@include font-face('HelveticaNeueCyr', '../fonts/Helvetica Neue/HelveticaNeueCyr-Thin', 200, 'normal');
@include font-face('HelveticaNeueCyr', '../fonts/Helvetica Neue/HelveticaNeueCyr-Roman', 400, 'normal');
@include font-face('HelveticaNeueCyr', '../fonts/Helvetica Neue/HelveticaNeueCyr-Medium', 500, 'normal');
@include font-face('HelveticaNeueCyr', '../fonts/Helvetica Neue/HelveticaNeueCyr-Bold', 700, 'normal');
