@mixin box($width,$height: $width) {
  width: $width;
  height: $height;
}
@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin gapFallback($gap) {
    @supports not (aspect-ratio: 1 / 1) {
        margin-right: $gap;

        &:last-child {
            margin-right: 0;
        }
    }
}


$units: 1px !default;
@mixin screen($res-first, $res-last: $res-first) {
  @if $res-first == $res-last {
    @media screen and (max-width: if(unitless($res-first), ($res-first - 1) *$units, $res-first)) {
      @content;
    }
  }
  @else if $res-first < $res-last {
    @media screen and (min-width: if(unitless($res-first), $res-first*$units, $res-first)) and (max-width: if(unitless($res-last), $res-last*$units, $res-last)) {
      @content;
    }
  }
}
@mixin min-screen($res) {
  @media screen and (min-width: if(unitless($res), $res*$units, $res)) {
    @content;
  }
}

@mixin pseudo($pos: absolute, $content: '') {
  @include flex-setting(column, center, center);

  content: $content;
  position: $pos;
}

@mixin flex-setting($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin ul-nostyle {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin checkbox-default {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  position: relative;

  padding-left: 2rem;
}

@mixin custom-checkbox {
  position: absolute;
  content: "";
  display: block;

  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: $olive;
  box-shadow: inset 0px 0px 8px rgba(96, 0, 43, 0.15);

  top: 0.125rem;
  left: 0;
}

@mixin checkbox-checked {
  position: absolute;
  content: "";
  display: block;

  width: 16px;
  height: 16px;

  border-radius: 4px;
  background-color: $olive;
  box-shadow: inset 0px 0px 8px rgba(96, 0, 43, 0.15);

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cpath d='M0 0h60v60H0z' fill='%2360002B'/%3E%3C/svg%3E");
  background-size: 10px 10px;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  top: 0.125rem;
  left: 0;
}
