// Colors
$white: #fff;
$black: #010101;
$bordo: #60002B;
$light-bordo: #72273F;
$gray: #4D4D4F;
$olive: #D9D1C7;
$light-gray: #808080;
$blue: #0038FF;
// Sizes
$base-font-size: 16px;

$tablet: 768px;
$large: 1024px;
$desktop: 1280px;

$content: 1000px;

// Fonts
$primary-font: 'Jost', sans-serif;

$text-black: $black;
$text-white: $white;
