// Colors
$white: #fff;
$black: #010101;
$gray: #F0F2F3;
$olive: #D9D1C7;
$light-gray: #808080;
// Sizes
$base-font-size: 16px;

$tablet: 768px;
$large: 1024px;
$desktop: 1280px;

$content: 1000px;

// Fonts
$primary-font: 'Jost', sans-serif;

$text-black: $black;
$text-white: $white;

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
