.header {
    width: 100%;

    @include flex-setting(column, center, center);

    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    z-index: 2;


    &__nav {
        width: 100%;
    }
}

@include min-screen(1440px) {
    
}
