.nav {
    width: 100%;

    @include flex-setting(row, space-between, center);

    padding: 1.875rem 1.125rem 1.625rem 1.125rem;

    &__age {
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 1.875rem, 2rem, 400, $gray);

        padding: 0.1875rem 1.375rem 0.1875rem 0.3125rem;

        border: 2px solid $gray;

        position: relative;

        opacity: 0.6;

        &::after {
            position: absolute;
            content: '+';

            width: 1rem;
            height: 1rem;

            top: 0rem;

            right: 0.375rem;
        }
    }

    &__logo {
        width: 148px;
        height: 60px;
        object-fit: contain;
    }

    &__list {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;

        background-color: #1C1C1C;
        pointer-events: none;

        transition: 0.4s $cubic;

        &.opened {
            transition: 0.4s $cubic;
            max-height: 500px;
            pointer-events: all;
            padding: 8.125rem 0 0 0;

            .nav__item {
                pointer-events: auto;
                transform: scale(1) translateY(0px);
                will-change: transform;
                opacity: 1;

                @for $i from 1 through $menuItems {
                    &:nth-child(#{$i}) {
                        transition-delay: #{0.06 * $i+0.2}s;
                    }
                }
            }
        }
    }

    &__item {
        @include flex-setting(column, flex-start, center);
        width: 100%;
        position: relative;

        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        transition: transform 0.5s $cubic, opacity 0.6s $cubic;
        padding: 0.75rem 0;
        border-top: 1px solid $white;
        margin-bottom: 0;
        background-color: #1C1C1C;

        @for $i from 1 through $menuItems {
            &:nth-child(#{$i}) {
                transition-delay: #{0.56 - ($i * 0.07)}s;
            }
        }

        &:hover,
        &:active {
            background-color: #F26822;
            transition: 0.4s $cubic;
        }

        &:last-of-type {
            border-bottom: 1px solid $white;
        }
    }

    &__link {
        @include font-setting($primary-font, 1.5rem, 2.375, 600, $white);
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.4s $cubic;
    }

    &__toggle {
        display: block;
        cursor: pointer;
        position: relative;
        border: none;
        background-color: transparent;
        padding: 0;
        width: 40px;
        height: 36px;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='8' viewBox='0 0 40 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='8' fill='%23F0F2F3'/%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-size: 40px 8px;
        background-repeat: no-repeat;
        cursor: pointer;

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 8px;
            background-color: $gray;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.4s $cubic;
        }

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 8px;
            background-color: $gray;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.4s $cubic;
        }

        &.opened {
            background-image: none;

            &::after,
            &::before {
                width: 40px;
                transition: 0.4s $cubic;
            }

            &::after {
                transform: translateX(-50%) rotate(45deg);
                top: 14px;
                transition: 0.4s $cubic;
            }

            &::before {
                transform: translateX(-50%) rotate(135deg);
                bottom: 14px;
                transition: 0.4s $cubic;
            }
        }
    }
}

@include min-screen(768px) {
    .nav {
        flex-direction: column;
        justify-content: flex-start;

        padding: 1.875rem 0;

        &__age {
            display: none;
        }

        &__logo {
            width: 135px;
            height: 54px;
            margin-bottom: 1.25rem;
        }

        &__list {
            @include flex-setting(row, space-between, center);
            width: 100%;
            position: relative;
            max-height: 100%;
            overflow: hidden;
            background-color: transparent;
            pointer-events: all;
            transition: 0.4s $cubic;
            --width: calc(100% - 680px);
            padding-left: calc(var(--width) / 2);
            padding-right: calc(var(--width) / 2);

            &.sticky {
                position: fixed;
                top: 2.25rem;
                background-color: rgba(255, 255, 255, 0.2);
                transition: 0.4s $cubic;
            }
        }

        &__item {
            width: auto;
            @include flex-setting(column, center, center);
            opacity: 1;
            transform: none;
            border: none;
            background-color: transparent;
            pointer-events: all;

            padding-top: 0.375rem;
            padding-bottom: 0.375rem;

            &:last-of-type {
                border: none;
            }

            &:hover,
            &:active {
                background-color: transparent;
            }
        }

        &__link {
            @include font-setting($primary-font, 0.875rem, 1.25rem, 600, $gray);
            text-transform: uppercase;
            text-decoration: none;
            padding: 0.25rem 0;
            position: relative;
            cursor: pointer;
            outline: none;

            &::after {
                position: absolute;
                content: '';

                width: 100%;
                height: 2px;

                background-color: $gray;

                transform: scaleX(0);
                transition: 0.4s $cubic;
                transform-origin: center;
                bottom: 0;
                left: 0;
            }

            &:hover,
            &:active {
                &::after {
                    transform: scaleX(1);
                    transition: 0.4s $cubic;
                    transform-origin: center;
                }
            }
        }

        &__toggle {
            display: none;
        }
    }
}

@include min-screen(1440px) {
    .nav {
        padding: 1.5rem 0;

        &__logo {
            width: 160px;
            height: 65px;
            margin-bottom: 1.5rem;
        }

        &__list {
            --width: calc(100% - 1200px);
        }
    }
}
