footer.footer
    .footer__wrapper
        a(href="index.html" target="_blank").footer__link
            img(src="static/images/content/nickjr-logo.svg" alt="NickJr").footer__logo
        a(href="https://www.instagram.com/nickjr_ru/?hl=ru" target="_blank").footer__social
        
    .footer__links
        a(href="https://www.viacomcbsprivacy.com/childrens" target="_blank").footer__links-item Политика конфиденциальности
        a(href="https://www.viacomcbsprivacy.com/cookies" target="_blank").footer__links-item Политика в отношении файлов «cookie»
    span.footer__copyright © 2021 ViacomCBS. Все права защищены.
