footer.footer
    .footer__wrapper
        a(href="#" target="_blank").footer__link
            img(src="static/images/content/nickjr-logo.svg" alt="NickJr").footer__logo
        a(href="#" target="_blank").footer__social
    span.footer__copyright © 2021 ViacomCBS. Все права защищены.
